/*-----------------------------------------------------------------
Basic StyleSheet (for version 6 browseres)

Version:	1.0
Author: 	Kenneth Mørk
Email: 		kenneth@bravura.dk
website:	ZCMS
-----------------------------------------------------------------*/
@import url(layout.css);
@import url(forms.css);

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Arial, Helvetica, Verdana, Sans serif;
	text-align: center;
	color: #5e5e5e;
	font-size: 11px;
	background-color: #ededed;
}
h1 {
	font-family: Arial, Helvetica, Verdana, Sans serif;
	font-size: 18px;
	color: #000;
	font-weight: normal;
	margin: 10px 0 15px 0;
}
h2 {
}
h3 {
}
p {
	font-family: Arial, Helvetica, Verdana, Sans serif;
	font-size: 11px;
	color: #5e5e5e;
	font-weight: normal;  
}
small {
}
a:link, a:visited, a:active {
	font-family: Arial, Helvetica, Verdana, Sans serif;
	font-size: 11px;
	color: #5cb7e1;
	font-weight: normal;
	text-decoration: underline;
}
a:hover {
	font-family: Arial, Helvetica, Verdana, Sans serif;
	font-size: 11px;
	color: #5cb7e1;
	font-weight: normal;
	text-decoration: none;
}

hr {
	background-color: #FFF;
	border: 1px solid #cbc6bd;
	border-width: 1px 0 0 0;
	margin: 10px 0px 10px 0px;
}