/*-----------------------------------------------------------------
Forms StyleSheet (for version 6 browseres)

Version:	1.0
Author: 	Kenneth Mørk
Email: 		kenneth@bravura.dk
website:	ZCMS
-----------------------------------------------------------------*/

