/*-----------------------------------------------------------------
Layout StyleSheet (for version 5 browseres)

Version:	1.0
Author: 	Steffen Sørensen
Email: 		steffen@bravura.dk
-----------------------------------------------------------------*/

#page {
	margin: auto; 
	width: 980px;
	margin-top: 20px;
}

#manager_menu {
	width: 175px; 
	border: 1px solid #aeafaf; 
	margin-right: 15px;
	float: left;
	background-color: #FFFFFF;
	font-size: 13px;
	text-align: left;
}

#manager_content {
	width: 786px; 
	float: left;
	border: 1px solid #AEAFAF; 
	background-color: #FFFFFF;
	text-align: left;
	
}
