/*-----------------------------------------------------------------
Layout StyleSheet (for version 6 browseres)

Version:	1.0
Author: 	Kenneth Mørk
Email: 		kenneth@bravura.dk
website:	ZCMS 
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
GLOBAL LAYOUT STYLES 
---------------------------------------------------------------- */

.floatLeft {
	float:left;
}
.floatRight {
	float:right;
}
a img {
	border: none;
}
.clearboth {
	clear:both;
}

td.functions, th.functions {
	text-align: right;
}
td.checkbox {
	text-align: center;
	width: 30px;
}
tr.highlight {
	background-color: #fbfbfb;
}
tr.selected {
	background-color: #DDFFDD;
}
tbody tr:hover {
	background-color: #FFFFDD;
}
table.noborders td {
	border-width: 0px;
}
/************************** Topbar *************************/
#topbar {
	background-image: url('../images/header/background.gif');
	height: 90px;
	text-align: center;
}
#topbar > div {
	background-image: url('../images/header/background.gif');
	text-align: left;
	width: 995px;
	margin: auto;
}


/************************** Content *************************/
.shadow, #container, #menu, #menu > ul > ul  {
	background-image: url('../images/shadow.png');
	background-repeat: repeat-x;
	min-height: 9px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.text, .select {
	padding: 5px;
	border: 1px solid #aaaaaa;
	font-size: 17px;
	width: 485px;
	color: #444444;
	background-color: #FFFFDD;
}
.backtitle {
	line-height: 48px;
	font-size: 75px;
	width:0px;
	color: #F5F5F5;
	white-space: nowrap;
	z-index: 0;
	float:left;
}
.fielddesc {
	margin-left: 227px;
	font-size: 11px;
	width: 498px;
}
.fielddesc > p {
	font-size: 11px;
}
.button {
	font-size: 18px;
	margin-left: 10px;
	padding: 5px;
	border: 0px;
}
.submit {
	background-image: url('../images/page/forms/button_green.png');
	background-color: #007700;
	color: #FFFFFF;
}
.cancel {
	background-image: url('../images/page/forms/button_red.png');
	background-color: #BB0000;
	color: #FFFFFF;
}
.viewnavigator {
	float: right;
}
.viewnavigator label {
	width: auto;
	margin-right: 10px;
}
.viewnavigator select {
	width: 200px;
	padding: 2px;
}
#container {
	text-align: left;
}
#container > div {
	width: 995px;
	margin: auto;
	margin-top: 0px;
	padding-top: 0px;
}
#menu {
	width: 180px;
	border: 1px solid #ececec;
	background-color: #fbfbfb;
	border-width: 0px 0px 0px 1px;
	min-height: 200px;
	color: #AAAAAA;
	font-size: 15px;
	margin-top: 0px;
}

#menu a:link, #menu a:visited, #menu a:active {
	color: #AAAAAA;
	text-decoration: none;
}
#menu a:hover {
	color: #666666;
	text-decoration: none;
}

#menu > ul {
	border: 1px solid #ececec;
	border-width: 0px 0px 0px 0px;
	margin: 30px 0px 0px 0px;
	padding: 0px;
	list-style: none;
}
#menu > ul > li {
	border: 1px solid #ececec;
	border-width: 1px 0px 0px 0px;
	padding: 1px 0px 1px 15px;
	line-height: 21px;
}
#menu > ul > ul {
	border: 1px solid #ececec;
	background-color: #fefefe;
	border-width: 1px 0px 0px 0px;
	margin: 0px;
	padding: 3px 0px 3px 0px;
	list-style: none;
}
#menu > ul > ul > li {
	padding: 0px;
	padding-left: 15px;
	line-height: 23px;
}
#menu_bottom {
	background-image: url('../images/header/menu_background.png');
	width: 181px;
	height: 9px;
}

#content {
	background-image: url('../images/header/shadow.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	text-align: left;
	width: 806px;
	border: 1px solid #ececec;
	border-width: 0px 1px 0px 1px;
}
#innercontent {
	margin: 0px 30px 0px 30px;
}
#breadcrumb {
	margin: 5px 30px 12px 30px;
	font-size: 11px;
}
#content_bottom {
	background-image: url('../images/page/content_background.png');
	width: 807px;
	height: 9px;
	border: 1px solid #ececec;
	border-width: 0px 0px 0px 1px;
}