#
# Corelib dummy basic .htaccess file
#
# This file the basic htaccess functions for Corelib.
#
# This script is part of the Corelib project. The Corelib project is
# free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# The GNU General Public License can be found at
# http://www.gnu.org/copyleft/gpl.html.
# A copy is found in the textfile GPL.txt and important notices to the license
# from the author is found in LICENSE.txt distributed with these scripts.
#
# This script is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# This copyright notice MUST APPEAR in all copies of the script!
#
# vim: set tabstop=4 shiftwidth=4 softtabstop=4:

#
# If the base directory for which the Corelib dummy is installed
# differs from the webroot, change RewriteBase to match, se example below.
#
# if the dummy is at http://www.example.org/dummy/ the rewrite base should
# be: RewriteBase /dummy
#
RewriteBase /



#//*****************************************************************//
#//*********** DO NOT CHANGE ANYTING BELOW THIS NOTICE *************//
#//*****************************************************************//
RewriteEngine on
RewriteRule ^(.?robots.txt)$ robots.txt [L]
RewriteRule ^(.*)$ index.php [QSA,L]

<Files "index.php">
	Order Allow,Deny
	Allow From all
	satisfy all
</Files>