/*-----------------------------------------------------------------
Basic StyleSheet (for version 5 browseres)

Version:	1.0
Author: 	Kenneth M�rk
Email: 		kenneth@bravura.dk
-----------------------------------------------------------------*/
@import url(layout.css);
@import url(forms.css);

* {
	margin: 0;
	padding: 0;
}
body { }
h1 { }
h2 { }
h3 { }
p { }
a { }
a:hover	{ }
hr { }

pre {
	text-align: left;
}