/*-----------------------------------------------------------------
Forms StyleSheet (for version 5 browseres)

Version:	1.0
Author: 	Kenneth M¿rk
Email: 		kenneth@bravura.dk
-----------------------------------------------------------------*/
