body {
	background-color: #EFEFEF;
	text-align: center;
	font-family: "Lucida Grande", Myriad, Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 20px;
}

#menu {
	clear: both;
}

#menu ul {
	list-style-type: none;
	float: left;
	clear: both;
	margin: 0px;
	padding: 0px;
}

#menu li {
	margin: 0px;
	display: block;
	height: 16px;
	padding: 5px;
	color: #848484;
	float: left;
}

#menu a:link, #menu a:visited {
	color: #666666;
}

#menu a:hover, #menu a:active {
	background-color: #7ec242;
	color: #000000;
}

#page {
	margin: auto;
	text-align: left;
	width: 462px;
}

#page p {
	margin: 0px;
	margin-bottom: 24px;
}

#page .center {
	text-align: center;
}

#page h1 {
	font-size: 25px;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}
#page h2 {
	font-size: 20px;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}
#page h3 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}
#page h4 {
	font-size: 12px;
	margin: 0px;
	margin-bottom: 5px;
	padding: 0px;
}

#content {
	padding-top: 10px;
	clear: both;
}