/*-----------------------------------------------------------------
Basic StyleSheet 
Version:	1.0
Author: 	Steffen Sørensen
Email: 		ss@corelib.org
website:	Corelib manager
-----------------------------------------------------------------*/
@import url(layout.css);
@import url(forms.css);

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('../images/background.gif');
	margin: 19px 0px 0px 0px;
	font-family: Arial;
	color: #aaaaaa;
}
p {
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 13px;
	line-height: 16px;
}
h1 {
	margin: 0px;
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: normal;
}
h2 {
	margin: 0px;
	font-size: 25px;
	margin-bottom: 10px;
	font-weight: normal;
}
legend {
	font-size: 25px;
}
input {
	font-family: Arial;
}
form > div {
	border: 1px solid #ececec;
	background-color: #fbfbfb;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 10px;
}
label {
	float: left;
	width: 225px;
	padding-top: 7px;
}
table {
	border-spacing: 0px;
	width: 100%;
	margin-bottom: 10px;
}
th {
	border: 1px solid #ececec;
	border-width: 3px 0px 3px 0px;
	background-color: #f9f9f9;
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	padding: 5px 0px 5px 0px;
}
td {
	border: 1px solid #ececec;
	border-width: 0px 0px 1px 0px;
	font-size: 13px;
	padding: 5px 0px 5px 0px;
}
tfoot td {
	border-width: 2px 0px 4px 0px;
}

small {
	font-size: 10px;
}

img {
	border: 0px;
}

a:link, a:visited, a:active {
	color: #777777;
	text-decoration: underline;	
}

label a img {
	vertical-align: text-top;	
}

a:hover {
	color: #222222;
	text-decoration: underline;
}
