/*-----------------------------------------------------------------
Basic StyleSheet
Version:	1.0
Author: 	Steffen Sørensen
Email: 		ss@corelib.org
website:	Corelib manager
-----------------------------------------------------------------*/

input.text, select.select, textarea {
	padding: 5px;
	border: 1px solid #aaaaaa;
	font-size: 17px;
	width: 510px;
	color: #444444;
	background-color: #FFFFDD;
}


.fielddesc {
	margin-left: 227px;
	font-size: 11px;
	width: 510px;
}

.fielddesc > p {
	font-size: 11px;
}

.button {
	font-size: 18px;
	margin-left: 10px;
	padding: 5px;
	border: 0px;
}

.submit {
	background-image: url('../images/forms/button_green.png');
	background-color: #007700;
	color: #FFFFFF;
}

.cancel {
	background-image: url('../images/forms/button_red.png');
	background-color: #BB0000;
	color: #FFFFFF;
}

.viewnavigator {
	float: right;
}
.viewnavigator label {
	width: auto;
	margin-right: 10px;
}
.viewnavigator select {
	width: 200px;
	padding: 2px;
}