/*-----------------------------------------------------------------
Developer toolbar StyleSheet

Version:	1.0
Author: 	Steffen Sørensen
Email: 		ss@zornig.dk
website:	Corelib - Base
-----------------------------------------------------------------*/

#developer-toolbar {
	width: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	position: fixed;
	background-color: #23262b;
	opacity: .0;
	border-bottom: 1px solid #59626b;
	text-align: left;
	font-size: 8pt;
	font-family: Arial,Helvetica,Verdana,Sans serif;
	color: #ffffff;
	padding-top: 2px;

	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */

	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 0px 15px 20px #000000;
}

#developer-toolbar:hover {
	opacity: .9;

	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
}

#developer-toolbar a:hover, #developer-toolbar a {
	font-size: 8pt;
	cursor: pointer;
}

#developer-toolbar a:hover {
	color: #ffffff;
}

#developer-toolbar .toolbar {
	line-height: 16px;
	margin-left: 10px;
}


#developer-toolbar .data {
	text-align: left;
	color: #000000;
}

#developer-toolbar .data > div {
	margin: 10px;
}

#developer-toolbar .data > div h1 {
	font-size: 12pt;
	font-weight: normal;
	color: #000000;
	margin: 0px;
}
#developer-toolbar .data > div h2 {
	font-size: 11pt;
	font-weight: normal;
	color: #000000;
}
#developer-toolbar .data > div h2.warning, #developer-toolbar .toolbar .warning {
	color: #ff9600;
}

#developer-toolbar .data > div h3 {
	background: none;
	color: #000000;
	font-weight: normal;
	font-size: 10pt;
	margin: 0px;
}

#developer-toolbar .data td,
#developer-toolbar .data th {
	color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
}

#developer-toolbar .data td {
	border-top: 1px solid #97a1aa;
}

#developer-toolbar .data th {
	font-weight: bold;
}

#developer-toolbar .toolbar img {
	vertical-align: text-bottom;
}

#developer-toolbar .developer-toolbar-item {
	border-bottom: 1px dashed #AAAAe0;
}